<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <% if (currentUser) { %>
    <h1><%= title %></h1>
    <form action="/folder/create" method="post">
        <label for="folderName">Folder Name: </label>
        <input type="text" id="folderName" name="folderName" required>
        <button type="submit">Create Folder</button>
    </form>
    <% } else { %>
        <p><b>You have to have an account to create folders!</b></p>
        <nav>
            <ul>
                <li><a href="/log-in">Log In</a> if you already have an account! Or</li>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>
        </nav>
    <% } %>
</body>
</html>