<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (currentUser) { %>
                <li><a href="/log-out">Log Out</a></li>
            <% } else { %>
                <li><a href="/sign-up">Sign Up</a> if you don't have an     account. Or</li>
                <li><a href="/log-in">Log In</a></li>
            <% } %>
        </ul>
    </nav>
    <% if (currentUser) { %>
     <h1><%= title %></h1>
     <% if (locals.files && files.length > 0) { %>
        <ul>
            <% files.forEach(file => { %>
                <li><a href="<%= file.path %>"><%= file.name %></a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>There are currently no files or folders in your account.</p>
     <% } %>
        <a href="/upload-file"><button type="submit">Upload File</button></a>
        <a href="/create-folder"><button type="submit">Create Folder</button></a>
    <% } else { %>
        <h1>File Storer</h1>
        <p>Here you can upload files and create new folders to store your files in. All you need to do is create an account and log in to upload!</p>
        <a href="/sign-up"><button>Get Started</button></a>
    <% } %>
</body>
</html>